@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Лабораторні роботи</h2>
    <ul>
        <li><a href="@Url.Action("Labs")">Лабораторна робота 1</a></li>
        <li><a href="@Url.Action("Labs")">Лабораторна робота 2</a></li>
        <li><a href="@Url.Action("Labs")">Лабораторна робота 3</a></li>
    </ul>

    <h2>Реєстрація та вхід</h2>
    <ul>
        <li><a href="@Url.Action("Register", "Account")">Зареєструватися</a></li>
        <li><a href="@Url.Action("Login", "Account")">Увійти</a></li>
    </ul>
</div>
